<div class="trajetsProposés">
    <div class="PostTrajet">

        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
            <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Date de départ" formControlName="date">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Heure de départ" formControlName="hDepart">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Heure d'arrivée" formControlName="hArrive">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Lieu de départ" formControlName="lieuDepart">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Lieu d'arrivée" formControlName="lieuArrivee">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Nombre de place disponible" formControlName="nbPlace">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile><button type="submit" mat-raised-button> Poster </button></mat-grid-tile>

            </mat-grid-list>
        </form>
    </div>

    <div *ngIf="userService.trajetPropose.length>0" class="card">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Trajets proposés</mat-card-title>
            </mat-card-header>
            <mat-card *ngFor="let result of userService.trajetPropose">
                <mat-card-content>
                    <p>
                        <label> Date :</label>
                        {{result.date}}
                    </p>
                    <p>
                        <label> Heure de départ : </label>
                        {{result.h_dep}}
                    </p>
                    <p>
                        <label> Heure de arrivée : </label>
                        {{result.h_arr}}
                    </p>
                    <p>
                        <label> Lieu de départ : </label>
                        {{result.lieu_dep}}
                    </p>
                    <p>
                        <label> Lieu d'arrivée : </label>
                        {{result.lieu_arr}}
                    </p>
                    <p>
                        <label> Nombre de place reservée : </label>
                        {{result.nb_reservations}}
                    </p>
                    <p>
                        <label> Nombre de place totale : </label>
                        {{result.nb_places_tot}}
                    </p>
                    <p *ngIf="result.nb_places_tot === result.nb_reservations">
                        <label> TRAJET PLEIN </label>
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="trajetService.supprimerTrajet(result.id_trajet)"> Supprimer </button>

                </mat-card-actions>
            </mat-card>
        </mat-card>
    </div>
</div>

<div class="trajetsReservés">

    <div *ngIf="userService.trajetReserve.length>0" class="card">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Trajets réservés</mat-card-title>
            </mat-card-header>
            <mat-card *ngFor="let result of userService.trajetReserve">
                <mat-card-content>
                    <p>
                        <label> Date :</label>
                        {{result.date}}
                    </p>
                    <p>
                        <label> Heure de départ : </label>
                        {{result.h_dep}}
                    </p>
                    <p>
                        <label> Heure de arrivée : </label>
                        {{result.h_arr}}
                    </p>
                    <p>
                        <label> Lieu de départ : </label>
                        {{result.lieu_dep}}
                    </p>
                    <p>
                        <label> Lieu d'arrivée : </label>
                        {{result.lieu_arr}}
                    </p>
                    <p>
                        <label> Nom du conducteur : </label>
                        {{result.nom}}
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="trajetService.supprimerReservation(result.id_trajet)"> Supprimer </button>

                </mat-card-actions>
            </mat-card>
        </mat-card>
    </div>

</div>