<mat-toolbar color="primary">
  <a [routerLink]="['/']">
    <h1 style="color:white;">Kojojo</h1>
  </a>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button *ngIf="userService.getId() < 0" mat-raised-button routerLink='/Connexion'>Connexion</button>
  <button *ngIf="userService.getId() < 0" mat-raised-button routerLink='/Inscription'>Inscription</button>

  <button *ngIf="userService.getId() > 0" mat-raised-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink='/Information' (click)="userInformationHistorique()">Information</button>
    <button mat-menu-item routerLink='/TrajetPerso' (click)="userConducteurReserve()">Mes trajets</button>
    <button mat-menu-item (click) = "deconnexion()">Deconnexion</button>
  </mat-menu>

</mat-toolbar>